In [1]:
from pyspark import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

df = spark.read.csv('data/pluto_19v1.csv', inferSchema ='True', header = 'True')

In [6]:
df.printSchema()

root
 |-- borough: string (nullable = true)
 |-- block: integer (nullable = true)
 |-- lot: integer (nullable = true)
 |-- cd: integer (nullable = true)
 |-- ct2010: double (nullable = true)
 |-- cb2010: integer (nullable = true)
 |-- schooldist: integer (nullable = true)
 |-- council: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- firecomp: string (nullable = true)
 |-- policeprct: integer (nullable = true)
 |-- healtharea: integer (nullable = true)
 |-- sanitboro: integer (nullable = true)
 |-- sanitsub: string (nullable = true)
 |-- address: string (nullable = true)
 |-- zonedist1: string (nullable = true)
 |-- zonedist2: string (nullable = true)
 |-- zonedist3: string (nullable = true)
 |-- zonedist4: string (nullable = true)
 |-- overlay1: string (nullable = true)
 |-- overlay2: string (nullable = true)
 |-- spdist1: string (nullable = true)
 |-- spdist2: string (nullable = true)
 |-- spdist3: string (nullable = true)
 |-- ltdheight: string (nullable = true)
 |-- splitzone: string (nullable = true)
 |-- bldgclass: string (nullable = true)
 |-- landuse: integer (nullable = true)
 |-- easements: integer (nullable = true)
 |-- ownertype: string (nullable = true)
 |-- ownername: string (nullable = true)
 |-- lotarea: string (nullable = true)
 |-- bldgarea: double (nullable = true)
 |-- comarea: integer (nullable = true)
 |-- resarea: integer (nullable = true)
 |-- officearea: integer (nullable = true)
 |-- retailarea: integer (nullable = true)
 |-- garagearea: integer (nullable = true)
 |-- strgearea: integer (nullable = true)
 |-- factryarea: integer (nullable = true)
 |-- otherarea: integer (nullable = true)
 |-- areasource: integer (nullable = true)
 |-- numbldgs: integer (nullable = true)
 |-- numfloors: double (nullable = true)
 |-- unitsres: integer (nullable = true)
 |-- unitstotal: integer (nullable = true)
 |-- lotfront: double (nullable = true)
 |-- lotdepth: double (nullable = true)
 |-- bldgfront: double (nullable = true)
 |-- bldgdepth: double (nullable = true)
 |-- ext: string (nullable = true)
 |-- proxcode: string (nullable = true)
 |-- irrlotcode: string (nullable = true)
 |-- lottype: string (nullable = true)
 |-- bsmtcode: integer (nullable = true)
 |-- assessland: long (nullable = true)
 |-- assesstot: long (nullable = true)
 |-- exempttot: long (nullable = true)
 |-- yearbuilt: integer (nullable = true)
 |-- yearalter1: integer (nullable = true)
 |-- yearalter2: integer (nullable = true)
 |-- histdist: string (nullable = true)
 |-- landmark: string (nullable = true)
 |-- builtfar: double (nullable = true)
 |-- residfar: double (nullable = true)
 |-- commfar: double (nullable = true)
 |-- facilfar: double (nullable = true)
 |-- borocode: double (nullable = true)
 |-- bbl: long (nullable = true)
 |-- condono: long (nullable = true)
 |-- tract2010: integer (nullable = true)
 |-- xcoord: integer (nullable = true)
 |-- ycoord: string (nullable = true)
 |-- zonemap: string (nullable = true)
 |-- zmcode: string (nullable = true)
 |-- sanborn: string (nullable = true)
 |-- taxmap: string (nullable = true)
 |-- edesignum: string (nullable = true)
 |-- appbbl: long (nullable = true)
 |-- appdate: string (nullable = true)
 |-- mappluto_f: string (nullable = true)
 |-- plutomapid: integer (nullable = true)
 |-- version: string (nullable = true)
 |-- sanitdistrict: string (nullable = true)
 |-- healthcenterdistrict: integer (nullable = true)
 |-- firm07_flag: integer (nullable = true)
 |-- pfirm15_flag: integer (nullable = true)
 |-- rpaddate: string (nullable = true)
 |-- dcasdate: string (nullable = true)
 |-- zoningdate: string (nullable = true)
 |-- landmkdate: string (nullable = true)
 |-- basempdate: string (nullable = true)
 |-- masdate: string (nullable = true)
 |-- polidate: string (nullable = true)
 |-- edesigdate: string (nullable = true)
 |-- geom: string (nullable = true)

In [5]:
df.select('ownertype', 'ownername').show()

+---------+--------------------+
|ownertype|           ownername|
+---------+--------------------+
|     null|       LOUFF ANTHONY|
|     null|       ANDRON EDWARD|
|     null|      TOTH, ANDREW M|
|     null|WINTER, TRUSTEE, ...|
|     null|      WONG, MARCIO R|
|     null|      DENNIS HEEDLES|
|     null|JARAMILLO, FRANKL...|
|     null|        SMITH, QUAIL|
|     null|     LEVOYER, THOMAS|
|     null|       JOSE V LOAIZA|
|     null|     GUL ESTATES INC|
|     null|      JOHN A ABRAHAM|
|     null|         KOTI, BERTI|
|     null| 368 92ND STREET LLC|
|     null|ANTHONY P FIORENTINO|
|     null|    JOSEPH, JENNIFER|
|     null|                null|
|     null|        RAIA, THOMAS|
|     null|        BERQUIN JUDE|
|     null|   NICOLEAU, MARIE N|
+---------+--------------------+
only showing top 20 rows

In [8]:
df.describe('yearbuilt').show()

+-------+------------------+
|summary|         yearbuilt|
+-------+------------------+
|  count|            860665|
|   mean|1819.4073315401463|
| stddev| 472.8617138900757|
|    min|                 0|
|    max|             39330|
+-------+------------------+

In [11]:
df.filter(df.yearbuilt > 2000).select('ownername').show()

+--------------------+
|           ownername|
+--------------------+
|    GRINBERG, LEONID|
|  LU, ALLEN CHUN HUA|
|   PETRUNGARO, FRANK|
|     IRINA SKUTELSKY|
|      DIAMANT, MOSHE|
|150TH STREET PARK...|
|          WANG , XIN|
|HORACE HARDING RE...|
|   UNAVAILABLE OWNER|
|       WANG , MINYAO|
|     HILARIO, JUAN B|
|PARAMOUNT PROPERT...|
|         METRY, EMAD|
|PRESENTATION SIST...|
|        SI TESSA LLC|
|        DINI, GERARD|
|HAMDEN ASSOCIATES...|
|     CATELLA, DANIEL|
|  BENEDETTO , THOMAS|
|    LEONARD PORTUESE|
+--------------------+
only showing top 20 rows

In [44]:
df.where((df.yearbuilt > 2010)&(df.borough == 'BK')).select('ownername', 'borough', 'yearbuilt').show()

+--------------------+-------+---------+
|           ownername|borough|yearbuilt|
+--------------------+-------+---------+
|GATEWAY CANTER PR...|     BK|     2019|
| BUSHWICK LUXURY LLC|     BK|     2018|
|       MAPLE NYC LLC|     BK|     2016|
|       JU XING ZHANG|     BK|     2011|
|   971 LAFAYETTE LLC|     BK|     2014|
|768 MACDONOUGH ST...|     BK|     2017|
|11 ORIENT EXPRESS...|     BK|     2017|
|       YOSHA, LAURIE|     BK|     2014|
|    1627 PACIFIC LLC|     BK|     2016|
|COMMUNITY CARES L...|     BK|     2017|
|932 GRAND STREET LLC|     BK|     2019|
|   214 ON STARR, LLC|     BK|     2012|
|1462 ATLANTIC AVE...|     BK|     2018|
|       LEE, HYUNSEOK|     BK|     2013|
|  ASHLAND CENTER LLC|     BK|     2013|
|   OCHER REALTY, LLC|     BK|     2019|
|             NYC SCA|     BK|     2018|
|730 64TH STREET C...|     BK|     2016|
|367 VANDERVOORT A...|     BK|     2012|
|SNL/ORIX 1200 MCD...|     BK|     2017|
+--------------------+-------+---------+
only showing top 20 rows

In [19]:
df.registerTempTable('pluto')

In [45]:
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [46]:
sqlContext.sql('select mean(yearbuilt) from pluto').show()

+------------------+
|    avg(yearbuilt)|
+------------------+
|1819.4073315401463|
+------------------+

In [49]:
df.groupby('bldgclass')\
.count()\
.show()

+---------+-----+
|bldgclass|count|
+---------+-----+
|       Z9| 2253|
|       RG|  300|
|       C6| 3281|
|       U0|   86|
|       A9|22753|
|       Q7|   28|
|       V7|   38|
|       H6|   26|
|       D7| 2119|
|       R6|  619|
|       D5|  305|
|       U2|  214|
|       W6|  173|
|       V3|  201|
|       F2|   83|
|       R8|   11|
|       Z4|   70|
|       A6|  813|
|       RA|   20|
|       K8|   49|
+---------+-----+
only showing top 20 rows

In [54]:
df.sort((df.yearbuilt).desc()).select('ownername', 'yearbuilt').show()

+--------------------+---------+
|           ownername|yearbuilt|
+--------------------+---------+
|"SPIRO ""SPEROS""...|    39330|
|LEGION STREET HOL...|     2019|
|    VERNON 4640, LLC|     2019|
| NATHAN HOLDINGS LLC|     2019|
|   OCHER REALTY, LLC|     2019|
|STAGG WILLIAMSBUR...|     2019|
|131 DEVOE STREET LLC|     2019|
|885 LAND COMPANY,...|     2019|
|GATEWAY CANTER PR...|     2019|
|653 METROPOLITAN ...|     2019|
|GATEWAY CANTER PR...|     2019|
|GATEWAY CANTER PR...|     2019|
|      1000 UNION LLC|     2019|
|GATEWAY CANTER PR...|     2019|
|GATEWAY CANTER PR...|     2019|
|WA HIGH INVESTOR LLC|     2019|
|GATEWAY CANTER PR...|     2019|
|     4MB 2021 W6 LLC|     2019|
|GATEWAY CANTER PR...|     2019|
|GATEWAY CANTER PR...|     2019|
+--------------------+---------+
only showing top 20 rows